@charset 'UTF-8';

@font-face {
	font-family: OpenSansLight;
	src: url('assets/fonts/OpenSans-Light.ttf');
}
@font-face {
	font-family: OpenSansRegular;
	src: url('assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
	font-family: OpenSansBold;
	src: url('assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: LoraRegular;
	src: url('assets/fonts/Lora-Regular.ttf');
}
@font-face {
	font-family: LoraItalic;
	src: url('assets/fonts/Lora-Italic.ttf');
}
@font-face {
	font-family: LoraBold;
	src: url('assets/fonts/Lora-Bold.ttf');
}

@font-face {
	font-family: Anton;
	src: url('assets/fonts/Anton.ttf');
}

@font-face {
	font-family: OswaldRegular;
	src: url('assets/fonts/Oswald-Regular.ttf');
}
@font-face {
	font-family: OswaldBold;
	src: url('assets/fonts/Oswald-Bold.ttf');
}
@font-face {
	font-family: OswaldLight;
	src: url('assets/fonts/Oswald-Light.ttf');
}

@font-face {
	font-family: PlayFairRegular;
	src: url('assets/fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
	font-family: PlayFairItalic;
	src: url('assets/fonts/PlayfairDisplay-Italic.ttf');
}
@font-face {
	font-family: PlayFairBold;
	src: url('assets/fonts/PlayfairDisplay-Bold.ttf');
}
@font-face {
	font-family: PlayFairBoldItalic;
	src: url('assets/fonts/PlayfairDisplay-BoldItalic.ttf');
}
@font-face {
	font-family: PlayFairBlack;
	src: url('assets/fonts/PlayfairDisplay-Black.ttf');
}
@font-face {
	font-family: PlayFairBlackItalic;
	src: url('assets/fonts/PlayfairDisplay-BlackItalic.ttf');
}
