/* SCSS Variables set */
$turquoise: #1abc9c;
$emerald: #2ecc71;
$peter_river: #3498db;
$amethyst: #9b59b6;
$wet_asphalt: #34495e;
$wet_asphalt_light: #587898;
$green_sea: #16a085;
$nephritis: #27ae60;
$belize_hole: #2980b9;
$wisteria: #8e44ad;
$midnight_blue: #2c3e50;
$sun_flower: #f1c40f;
$carrot: #e67e22;
$alizarin: #e74c3c;
$clouds: #ecf0f1;
$concrete: #95a5a6;
$orange: #f39c12;
$pumpkin: #d35400;
$pomegranate: #c0392b;
$silver: #bdc3c7;
$asbestos: #7f8c8d;

/** ICONS **/
.before-icon:before { font-family: FontAwesome; display: inline-block; vertical-align: middle; margin-right: 5px; }
.before-icon-user-circle:before { content: "\f0ad"; }
.before-icon-exit:before { content: "\f08b"; }

.inline-block { display: inline-block !important; }

.header-avatar-holder {
	display: inline-block !important;
	vertical-align: middle;

	.avatar {
		display: inline-block;
		background-color: #eee;
		background-size: cover;
		background-position: center;
		border-radius: 100%;
		vertical-align: middle;

		width: 48px;
		height: 48px;

		webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}
	.avatar:hover,
	.avatar:active,
	.avatar:focus { transform: scale(1.1); }
}

.menu-employee-header-menu-container {
	display: inline-block;
	vertical-align: middle;

	.menu-item-has-children {
		webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}
	.menu-item-has-children:hover {
		background: $alizarin;
		color: #fff !important;
	}
	.menu-item-has-children:hover a { color: #fff; }
	.menu-item-has-children:hover ul { opacity: 1 !important; pointer-events: initial !important; }

	ul ul {
		text-align: left;
		color: #fff;
		background: $alizarin;
		box-shadow: none;
		border: none;
		left: 0 !important;
		top: 2.25em !important;
		opacity: 0;
		pointer-events: none;

		webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;

		li {
			webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;

			margin: 0 !important;
			width: 100%;

			border-bottom: 1px solid $pomegranate;

			a {
				display: inline-block;
				vertical-align: middle;
			}
		}
		li:hover a,
		li:active a,
		li:focus a { transform: translateX(0.25em); }
	}
}

#mobile-menu-holder {
    display: block;
    position: fixed;
    top: calc(2em + 49px);
    background: #fff;
    width: 100%;
    height: calc(100% - 2em - 49px);
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);

    transform: translateY(-200%);

    z-index: 99;

    .menu-employee-header-menu-container { display: block; width: 100%; }

    .before-icon:before { display: none !important; }

    .menu {
    	margin: 0;
    	padding: 0;
    	display: block;
    	width: 100%;
    	list-style: none;

    	li {
    		display: block;

    		a {
			    display: block;
			    font-family: OpenSansBold;
			    font-weight: normal;
			    font-size: 1rem;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			    text-decoration: none;
			    border-bottom: 1px solid #ddd;
			    padding: 0.75em 1em;
			    color: #333;
    		}
    		a:hover,
    		a:active,
    		a:focus {
    			color: $alizarin;
    			border-color: $alizarin;
    		}
    	}

    	.menu-item-has-children:hover,
		.menu-item-has-children:active,
		.menu-item-has-children:focus { background: none !important; }

    	.sub-menu {
		    opacity: 1;
		    background: none;
		    margin: 0;
		    padding: 0 0 0 2em;

		    li {
		    	border-color: #ddd;
		    }
    	}
    }
}

.user-container-profile {
	display: block;
	padding: 3em 0;
	background-color: $midnight_blue;
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;

	.invisible-control {
		position: absolute;
	    top: 0;
	    right: 0;
	    background: none;
	    font-size: 1.25rem;
	    box-shadow: none;
	    border: none;
	    color: #fff;
	    padding: 1em;
	    opacity: 0;
	    outline: 0 !important;

	    webkit-transition: all 0.25s ease-in-out;
		-moz-transition: all 0.25s ease-in-out;
		-o-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}
	.invisible-control:hover,
	.invisible-control:active,
	.invisible-control:focus { opacity: 1 !important; }

	.user-information {
		.avatar {
			display: block;
		    border-radius: 100%;
		    margin: 0 auto;
			width: 128px;
			height: 128px;
			background-color: #eee;
			background-size: cover;
			background-position: center;
		}

		.user-names {
		    font-family: OpenSansLight;
		    font-size: 2.5rem;
		    font-weight: normal;
		    letter-spacing: 1px;
		    color: #333;
		    margin: 0.5em 0 0;
		}
	}

	.user-meta {
		.followers {
		    font-family: OpenSansLight;
		    font-size: 1.5rem;
		    font-weight: normal;
		    letter-spacing: 1px;
		    margin: 0.5em 0;
		}

		.follow-button,
		.unfollow-button,
		.compose-button {
		    display: block;
		    margin: 0 auto;
		    font-family: OpenSansBold;
		    font-size: 1rem;
		    font-weight: normal;
		    letter-spacing: 1px;
		    text-shadow: none;
		    box-shadow: none !important;
		    border: 1px solid;
		    border-radius: 100px;
		    padding: 0.75em 3em;
		    width: 200px;
		    text-align: center;
		    outline: 0 !important;

		    webkit-transition: all 0.25s ease-in-out;
			-moz-transition: all 0.25s ease-in-out;
			-o-transition: all 0.25s ease-in-out;
			transition: all 0.25s ease-in-out;
		}

		.follow-button,
		.compose-button {
			background: $emerald;
			color: #fff;
			border: none;
		}
		.follow-button:hover,
		.compose-button:hover,
		.follow-button:active,
		.compose-button:active { background: $nephritis; }

		.unfollow-button {
			background: none;
			color: #333;
		}
		.unfollow-button:hover,
		.unfollow-button:active { background: #eee; }
	}
}
.user-container-profile:hover .invisible-control,
.user-container-profile:active .invisible-control { opacity: 0.65; }

.white-box {
    display: inline-block;
    width: 60%;
    background: rgba(255, 255, 255, 0.85);
    padding: 2em 1em;
    border-radius: 5px;
}

/** POPUP **/
.popup-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;

	z-index: 99999;

	background: rgba(0, 0, 0, 0.5);

	.popup-inner-container {
		display: inline-block;
		position: relative;

		width: 400px;
		max-width: 95%;
		max-height: 95%;

		overflow-x: hidden;
		overflow-y: auto;

		-webkit-overflow-scrolling: touch;

		background: #fff;
		border-radius: 5px;
	    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);

		.close-button {
			background: none;
			border: none;
			box-shadow: none;
			outline: 0;

			position: absolute;
			top: 0;
			right: 0;

			font-size: 1rem;
			font-weight: normal;
			text-shadow: none;

			padding: 0.5em;

			color: $alizarin;

			webkit-transition: all 0.25s ease-in-out;
		    -moz-transition: all 0.25s ease-in-out;
		    -o-transition: all 0.25s ease-in-out;
		    transition: all 0.25s ease-in-out;
		}
		.close-button:hover { color: $pomegranate; }

		#profile-images-holder {
			.avatar {
				display: block;
				width: 128px;
				height: 128px;
				border-radius: 100%;
				background-color: #eee;
				background-size: cover;
				background-position: center;
				margin: 2em auto;
			}

			.banner {
				display: block;
				width: calc(100% - 2em);
				height: 200px;
				background-color: $midnight_blue;
				background-size: cover;
				background-position: center;
				margin: 2em auto;
				border-radius: 5px;
			}

			.green-bold-button {
				display: block;
			    margin: 2em auto;
			    width: 250px;
			    max-width: 90%;
			}
		}
	}
}

/** GLOBAL CLASSES **/
.file-picker {
	display: block;
	margin: 0em auto;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0.5em;
	text-align: center !important;
	font-family: OpenSansRegular;
	font-weight: normal;
	font-size: 1rem;
	outline: 0 !important;
	text-shadow: none !important;
	box-shadow: none !important;

	max-width: 90%;
}
.file-picker:active,
.file-picker:focus { border-color: $peter_river; }

.mt-1em { margin-top: 1em !important; }

.bull-separator {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
    color: $silver;
}

.notifications-controller {
    display: inline-block;
    vertical-align: middle;
    background: none;
    box-shadow: none !important;
    border: none;
    color: $wet_asphalt;
    padding: 0;
    font-size: 1.20rem;
    margin: 0;
    outline: 0 !important;

	position: relative;

    webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

	.notifications-counter {
		position: absolute;
	    top: 0;
	    right: 0;
	    margin-top: -0.75em;
	    margin-right: -0.75em;
	    font-family: OpenSansRegular;
	    font-weight: normal;
	    font-size: 0.5rem;
	    text-shadow: none;
	    background: none;
	    color: #fff;
	    background: #e67e22;
	    border-radius: 100px;
	    text-align: center;

		.inline-content {
			display: inline-block;
		    padding: 0.25em 0.5em;
		}
	}
}
.notifications-controller:active,
.notifications-controller:hover { color: $wet_asphalt_light; }

#notifications-holder {
    display: inline-block;
    position: fixed;
    top: calc(2em + 48px);
    left: 7em;
    background: #fff;
    width: 25%;
	max-width: 400px;
    height: 400px;
    z-index: 99;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.15);

    transform: translateY(-200%);

    overflow-x: hidden;
    overflow-y: auto;

    .notification-anchor {
    	display: block;
    	outline: 0;
    	text-decoration: none;
	    padding: 1em;
    	border-bottom: 1px solid #ddd;
    	position: relative;

		.notification-holder {
			display: block;

			.user-avatar {
			    display: inline-block;
			    width: 38px;
			    height: 38px;
			    background-color: #ddd;
				background-size: cover;
				background-position: center;
			    border-radius: 100%;
			    vertical-align: top;
			}

			.notification-content {
			    display: inline-block;
			    width: calc(100% - 60px);
			    margin-left: 10px;
			    font-family: OpenSansRegular;
			    font-size: 1rem;
			    font-weight: normal;
			    letter-spacing: 1px;
			    line-height: 200%;
			    color: #333;
				vertical-align: top;
			}

			.notification-meta {
				margin: 0.75em 0 0;
			    display: flex;
			    justify-content: space-between;

			    .notification-icon {
	    	        display: inline-block;
				    width: 20px;
				    height: 20px;
				    text-align: center;
				    padding: 3.5px;
				    color: #fff;
				    background: $alizarin;
				    border-radius: 5px;
				    font-size: 0.8rem;
				    margin-left: 10px;
			    }

			    .notification-date {
		    	    font-family: LoraRegular;
				    font-size: 0.95rem;
				    font-weight: normal;
				    color: #999;
				    letter-spacing: 1px;
			    }
			}
		}
    }
    .notification-anchor:hover,
    .notification-anchor:active { background: #f9f9f9; }
}
.unopened-notification:after {
 	display: inline-block;
    content: " ";
    position: absolute;
    background: $alizarin;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    top: 0.5em;
    right: 0.5em;
}

/** MOBILE **/
.mobile {
	#notifications-holder {
		width: 80% !important;
		max-width: auto !important;
		left: 0 !important;
	}

	.white-box { width: 100%; border-radius: 0 !important; }
	.site-content { margin: calc(2em + 48px) 0; }

	.user-container-profile {
		.invisible-control {
		    opacity: 0.85;
    		padding: 0.5em;
		}
	}
}
